block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Fertigungsplan
            thead
                tr
                    th(scope="col" rowspan="2") Takt
                    th(scope="colgroup" colspan="2") schwarz
                    th(scope="colgroup" colspan="2") weiß
                tr
                    th Soll
                    th Ist
                    th Soll
                    th Ist

            tbody

                - var tables = currentTable;
                    - var schwarz = tables[0].sort(function (a,b){return a.takt-b.takt });
                    - var weiss = tables[1].sort(function (a,b){return a.takt-b.takt });
                    - for(i = 0; i < weiss.length; i++) {
                        tr
                            td= schwarz[i].takt
                            td= schwarz[i].sollmenge
                            td= schwarz[i].istmenge
                            td(class="button")
                                button(class= "button2" onclick="deadEnd()") bearbeiten

                            td= weiss[i].takt
                            td= weiss[i].sollmenge
                            td= weiss[i].ist
                            td(class="button")
                                button(class= "button2" onclick="deadEnd()") bearbeiten
                    - };

                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="schwarzs" placeholder="Menge")
                    td(class="input")
                        input(id="schwarzi" placeholder="Menge")
                    td(class="input")
                        input(id="weißs" placeholder="Menge")
                    td(class="input")
                        input(id="weißi" placeholder="Menge")

                    td(class="button")
                        button(class="button2") speichern