extends layout

block content
    h1 Spielleiter
    p "Kontrollbereich des Spielleiters mit den Optionen neue Spiele anzulegen oder alte Spielstände zu laden, um diese einzusehen oder fortzuführen."

    div
        - var spiele = [{name: "WI 2015", datum: "28.09.2017"},{name: "Spiel 2", datum: "30.9.2017"}]
        ol
            each item in spiele
                li= ""
                    p   #{item.name},&nbsp;#{item.datum} &nbsp;&nbsp;
                        button(onclick='loadGame("#{item.name}", "#{item.datum}")') laden



    div
        p Neues Spiel&nbsp;
            input(id="neu")
            button(onclick= 'newGame()') speichern

    div(id="fertig") #{text}
