block profilecontent


        link(rel='stylesheet', href='/stylesheets/table.css')


        table(class="tabelle")
            caption Zu bearbeitenden Bestellscheine
                thead
                    tr
                        th(scope="col" rowspan="2") Interner/Externer Bestellschein
                        th(scope="col" rowspan="2") Von
                        th(scope="col" rowspan="2") Nr.
                        th(scope="col" rowspan="2") Ausstellungstakt
                        th(scope="col" rowspan="2") Artikelfarbe
                        th(scope="colgroup" colspan="3") Menge
                        th(scope="colgroup" colspan="3") Takt
                    tr
                        th Wunsch
                        th Bestätigt
                        th Erhalten
                        th Wunsch
                        th Bestätigt
                        th Erhalten
                tbody
                    - var versuch = [{Bestellschein: 'I', von: 'Kunde', Nr: '12', Takt:'3', Farbe:"schwarz", Mengew:"3",Mengeb:"3", Mengee:"3", Taktw:"2", Taktb:"2", Takte:"2" }];
                    each item in versuch
                        tr
                            td= item.Bestellschein
                            td= item.von
                            td= item.Nr
                            td= item.Takt
                            td= item.Farbe
                            td= item.Mengew
                            td= item.Mengeb
                            td= item.Mengee
                            td= item.Taktw
                            td= item.Taktb
                            td= item.Takte


                            td(class="button")
                                button(class="button2") bearbeiten
                            td(class="button")
                                button(class="button2") absenden




