block profilecontent


        link(rel='stylesheet', href='/stylesheets/table.css')


        table(class="tabelle")
            caption Zu bearbeitende Kundenbestellscheine
                thead
                    tr
                        th(scope="col" rowspan="2") Nr.
                        th(scope="col" rowspan="2") Ausstellungstakt
                        th(scope="col" rowspan="2") Artikelfarbe
                        th(scope="colgroup" colspan="3") Menge
                        th(scope="colgroup" colspan="3") Takt
                    tr
                        th Wunsch
                        th Bestätigt
                        th Erhalten
                        th Wunsch
                        th Bestätigt
                        th Erhalten
                tbody
                    //- var versuch = [{ Nr: '12', Takt:'3', Farbe:"schwarz", Mengew:"3",Mengeb:"3", Mengee:"3", Taktw:"2", Taktb:"2", Takte:"2" }];
                    each item in currentMailbox
                        tr

                            td= item.bestellnr
                            td= item.austellungstakt
                            td= item.artikel
                            td= item.wunschmenge
                            td= item.bestaetigteMenge
                            td= item.erhalteneMenge
                            td= item.wunschtakt
                            td= item.bestaetigterTakt
                            td= item.erhaltenerTakt


                            td(class="button")
                                button(class="button2") bearbeiten
                            td(class="button")
                                button(class="button2") absenden




