extends layout

block content

    p Periode/Takt/Phase

    form(action= '/#{paramProfil}/mailbox')
        button(class="buttonTools") Mailbox

    form(action= '/#{paramProfil}/info')
        button(class="buttonTools") Info

    form(action= '/#{paramProfil}/tabellen')
        button(class="buttonTools") Tabellen

    form(action= '/#{paramProfil}/checklist')
        button(class="buttonTools") Checkliste


    p Übergabe Profil-Parameter: #{paramProfil}
    P Übergabe Tool-Parameter: #{paramTool}


    block profilecontent