extends layout

block content

    link(rel='stylesheet', href='/stylesheets/profile.css')
    script(src='/javascripts/jstest.js')
    script(src='/javascripts/clientJS.js' )

    h2 Arbeitsplatz: #{nameParam}
    h3 Periode: 1  Takt: 2  Phase: B

    div(class="first")


        button(class="buttonTools" onclick= "loadContent(''+ '#{paramProfil}', 'mailbox')") Mailbox

        button(class="buttonTools" onclick= "loadContent(''+ '#{paramProfil}', 'info')") Info

        button(class="buttonTools" onclick= "loadContent(''+ '#{paramProfil}', 'tabellen')") Tabellen

        button(class="buttonTools" onclick= "loadContent(''+ '#{paramProfil}', 'checklist')") Checkliste



    div(class="inhalt")

        block profilecontent


    div(class="second")

        form()
            button(class="done" onclick= "deadEnd()") Fertig



