block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Bestellübersicht Teile
            thead
                tr
                    th(scope="colgroup" colspan="6") schwarz
                    th(scope="colgroup" colspan="6") weiß
                    th(scope="colgroup" colspan="6") rot
                tr
                    th Takt
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt
                    th
                    th Takt
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt
                    th Takt
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt
                    th



            tbody
                - var tables = currentTable;
                - var schwarz = tables[0].sort(function (a,b){return a.takt-b.takt });
                - var weiss = tables[1].sort(function (a,b){return a.takt-b.takt });
                - var rot= tables[2].sort(function (a,b){return a.takt-b.takt });
                - for(i = 0; i < rot.length; i++) {
                    tr
                        td= schwarz[i].takt
                        td= schwarz[i].bestellnr
                        td= schwarz[i].menge
                        td= schwarz[i].plantakt
                        td= schwarz[i].isttakt
                        td(class="button")
                            button(class= "button2" onclick="deadEnd()") bearbeiten

                        td= weiss[i].takt
                        td= weiss[i].bestellnr
                        td= weiss[i].menge
                        td= weiss[i].plantakt
                        td= weiss[i].isttakt
                        td(class="button")
                            button(class= "button2" onclick="deadEnd()") bearbeiten

                        td= rot[i].takt
                        td= rot[i].bestellnr
                        td= rot[i].menge
                        td= rot[i].plantakt
                        td= rot[i].isttakt
                        td(class="button")
                            button(class= "button2" onclick="deadEnd()") bearbeiten
                -}
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="nr" placeholder="Nr.")
                    td(class="input")
                        input(id="menge" placeholder="Menge")
                    td(class="input")
                        input(id="plantakt" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="isttakt" placeholder="Ist-Takt")
                    td(class="button")
                        button(class="button2" onclick="deadEnd()") speichern
                    td(class="input")
                        input(id="taktw" placeholder="Takt")
                    td(class="input")
                        input(id="nrw" placeholder="Nr.")
                    td(class="input")
                        input(id="mengew" placeholder="Menge")
                    td(class="input")
                        input(id="plantaktw" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="isttaktw" placeholder="Ist-Takt")
                    td(class="button")
                        button(class="button2" onclick="deadEnd()") speichern
                    td(class="input")
                        input(id="taktr" placeholder="Takt")
                    td(class="input")
                        input(id="nrr" placeholder="Nr.")
                    td(class="input")
                        input(id="menger" placeholder="Menge")
                    td(class="input")
                        input(id="plantaktr" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="isttaktr" placeholder="Ist-Takt")
                    td(class="button")
                        button(class="button2" onclick="deadEnd()") speichern
