block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Bestellübersicht Teile
            thead
                tr
                    th(scope="col" rowspan="2") Takt
                    th(scope="colgroup" colspan="4") schwarz
                    th(scope="colgroup" colspan="4") weiß
                    th(scope="colgroup" colspan="4") rot
                tr
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt
                    th Nr.
                    th Menge
                    th Plan-Takt
                    th Ist-Takt


            tbody
                - var versuch = [{takt: '1', Nrs: '0', Menges: '1', Plans: '8', Ists: '3',Nrw: '0', Mengew: '1', Planw: '8', Istw: '3',Nrr: '0', Menger: '1', Planr: '8', Istr: '3'},{takt: '1', Nrs: '0', Menges: '1', Plans: '8', Ists: '3',Nrw: '0', Mengew: '1', Planw: '8', Istw: '3',Nrr: '0', Menger: '1', Planr: '8', Istr: '3'} ];
                each item in versuch
                    tr
                        td= item.takt
                        td= item.Nrs
                        td= item.Menges
                        td= item.Plans
                        td= item.Ists
                        td= item.Nrw
                        td= item.Mengew
                        td= item.Planw
                        td= item.Istw
                        td= item.Nrr
                        td= item.Menger
                        td= item.Planr
                        td= item.Istr


                        td(class="button")
                            button(class="button2") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="nrs" placeholder="Nr.")
                    td(class="input")
                        input(id="menges" placeholder="Menge")
                    td(class="input")
                        input(id="plans" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="ists" placeholder="Ist-Takt")
                    td(class="input")
                        input(id="nrw" placeholder="Nr.")
                    td(class="input")
                        input(id="mengew" placeholder="Menge")
                    td(class="input")
                        input(id="planw" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="istw" placeholder="Ist-Takt")
                    td(class="input")
                        input(id="nrr" placeholder="Nr.")
                    td(class="input")
                        input(id="menger" placeholder="Menge")
                    td(class="input")
                        input(id="planr" placeholder="Plan-Takt")
                    td(class="input")
                        input(id="istr" placeholder="Ist-Takt")


                    td(class="button")
                        button(class="button2") speichern