block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Auftragsübersicht
            thead
                tr
                    th Nr.
                    th Artikel
                    th Menge
                    th Terminwunsch
                    th Bestätigt
                    th Erhalten
            tbody
                each item in currentTable
                    tr
                        td= item.bestellnr
                        td= item.artikel
                        td= item.menge
                        td= item.wunschtermin
                        td= item.bestaetigtertermin
                        td= item.erhalttermin


                        td(class="button")
                            button(class="button2") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="nr" placeholder="Nr.")
                    td(class="input")
                        input(id="artikel" placeholder="Artikel")
                    td(class="input")
                        input(id="menge" placeholder="Menge")
                    td(class="input")
                        input(id="terminwunsch" placeholder="Takt")
                    td(class="input")
                        input(id="bestätigtertermin" placeholder="Takt")
                    td(class="input")
                        input(id="erhalttermin" placeholder="Takt")

                    td(class="button")
                        button(class="button2" onclick= "save('#{paramProfil}', '#{paramType}', ' #{numTable}')") speichern