block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Dispoübersicht weiße Teile
            thead
                tr
                    th(scope="colgroup" colspan="10") schwarz

                tr
                    th(scope="col" rowspan="2") Takt
                    th(scope="col" rowspan="2") Anfangsbestand
                    th(scope="colgroup" colspan="2") Zugang
                    th(scope="colgroup" colspan="6") Abgang

                tr

                    th Nr.
                    th Zugang 1
                    th Nr.
                    th Abgang 1
                    th Nr.
                    th Abgang 2
                    th Nr.
                    th Abgang 3



            tbody
                - var versuch = [{takt: '1', anfangsbestand: '0', nrz: '8',z1: '1', nr1a: '0',a1: '3', nr2a: '8',a2: '1', nr3a:'0',a3: '3',}];
                each item in versuch

                    tr
                        td= item.takt
                        td= item.anfangsbestand
                        td= item.nrz
                        td= item.z1
                        td= item.nr1a
                        td= item.a1
                        td= item.nr2a
                        td= item.a2
                        td= item.nr3a
                        td= item.a3



                        td(class="button")
                            button(class="button2") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="anfangsbestand" placeholder="Menge")
                    td(class="input")
                        input(id="nrz" placeholder="Nr.")
                    td(class="input")
                        input(id="z1" placeholder="Menge")
                    td(class="input")
                        input(id="nr1a" placeholder="Nr.")
                    td(class="input")
                        input(id="a1" placeholder="Menge")
                    td(class="input")
                        input(id="nr2a" placeholder="Nr.")
                    td(class="input")
                        input(id="a2" placeholder="Menge")
                    td(class="input")
                        input(id="nr3a" placeholder="Nr.")
                    td(class="input")
                        input(id="a3" placeholder="Menge")




                    td(class="button")
                        button(class="button2") speichern